@model CryptoFolio.Models.Portfolio
@{
    ViewBag.Title = "Create";
}

<h2>Create Portfolio</h2>
<hr />
@using (Html.BeginForm("CreatePortfolio", "Portfolio"))
{
<div class="form-group">
    @Html.LabelFor(x => x.Name, "Name")
    @Html.TextBoxFor(x => x.Name, new { placeholder = "Name of your Portfolio" })
</div>
<td>
    <button type="submit" class="btn btn-outline-success">Create</button>
</td>}