@model CryptoFolio.Models.Portfolio
@{
    ViewBag.Title = "Create";
}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4" style="text-align:center; border:5px solid white; padding:30px; border-radius:20px;">
        <h2>Create Portfolio</h2>
        <hr style="background-color: white;"/>
        @using (Html.BeginForm("CreatePortfolio", "Portfolio"))
        {
            <div class="form-group">
                @Html.LabelFor(x => x.Name, "Name")
                @Html.TextBoxFor(x => x.Name, new { placeholder = "Name of your Portfolio", @class="form-control", style = "margin:0 auto;" })
            </div>
            <td>
                <button>@Html.ActionLink("Create","Index","Payment",null, new { @class = "btn btn-outline-success" })</button>
                @*<button type="submit" class="btn btn-outline-success" style="width:50%; margin-top:10px;">Create</button>*@
            </td>
        }
    </div>
    <div class="col-4"></div>
</div>
