@model CryptoFolio.Models.Portfolio
@{
    ViewBag.Title = "EditMyPortfolio";
}

<h2>Edit My Portfolio</h2>
<hr />
@using (Html.BeginForm()){
    
    <div class="form-group">
        @Html.LabelFor(x => x.Name, "Name")
        @Html.TextBoxFor(x => x.Name, new { placeholder = Model.Name })
    </div>
    <button type="submit" class="btn btn-outline-success">Update</button>
}

