
@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center;">Register!</h2>
<br />
<br />
<br />
<div class="container" style="color:black;">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Free</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>1 portfolio</li>
                    <li>Email support</li>
                    <li>Watch Top 100 Coins</li>
                    <li>Basic Graphs - Coming Soon</li>

                </ul>
                <button class="btn btn-lg btn-block btn-outline-primary">@Html.ActionLink("Sign up for free", "Register", "Account")</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pro</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$5 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Unlimited portfolios</li>
                    <li>Priority email support</li>
                    <li>Watch All Coins</li>
                    <li>Advanced Graphs - Coming Soon</li>
                </ul>
                <button class="btn btn-lg btn-block btn-outline-primary">@Html.ActionLink("Sign up as a premium user", "RegisterPremium", "Account")</button>
            </div>
        </div>
    </div>
</div>
