
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/HomePageLayout.cshtml";
}
<div id="main-thing">
    <div id="secondMain-thing" class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center" style="color:white;">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Cover your page.</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
            </p>
        </main>
    </div>
</div>

<div class="container-fluid" style="background-color:white;">
    <div class="container" style="padding-top:2rem;">
        <div class="row" style="margin:100px;">
            <div class="col-6" style="text-align:center; margin-top:2rem;">
                <h2>Portfoliooo</h2>
                <p>Scuttle rigging scurvy cog lee nipper Letter of Marque transom Buccaneer Privateer. Chain Shot ho Letter of Marque hornswaggle booty fathom jack bounty maroon Barbary Coast. </p>
            </div>
            <div class="col-6" style="text-align:center;">
                <img src="https://cdn.images.express.co.uk/img/dynamic/22/590x/China-803313.jpg" style="height:250px; width:400px;" />
            </div>
        </div>
        <hr />
        <div class="row" style="margin:100px;">
            <div class="col-6" style="text-align:center;">
                <img src="https://cdn.images.express.co.uk/img/dynamic/22/590x/China-803313.jpg" style="height:250px; width:400px;" />
            </div>
            <div class="col-6">
                <h2>Portfoliooo</h2>
                <p>Scuttle rigging scurvy cog lee nipper Letter of Marque transom Buccaneer Privateer. Chain Shot ho Letter of Marque hornswaggle booty fathom jack bounty maroon Barbary Coast. </p>
            </div>
        </div>
        <hr />
        <div class="row" style="margin:100px; padding-bottom: 6rem;">
            <div class="col-6">
                <h2>Portfoliooo</h2>
                <p>Scuttle rigging scurvy cog lee nipper Letter of Marque transom Buccaneer Privateer. Chain Shot ho Letter of Marque hornswaggle booty fathom jack bounty maroon Barbary Coast. </p>
            </div>
            <div class="col-6" style="text-align:center;">
                <img src="https://cdn.images.express.co.uk/img/dynamic/22/590x/China-803313.jpg" style="height:250px; width:400px;" />
            </div>
        </div>
    </div>
</div>



