@model IEnumerable<CryptoFolio.Models.Portfolio>
@{
    ViewBag.Title = "Home";
}
<div class="container">
    <div class="row">
        
        @foreach (var item in Model)
        {
            <div id="myText" class="col-6">
                <div class="card text-center">
                    <div class="style-card-header card-header">
                        @Html.ActionLink(item.Name, "ViewMyPortfolio", "Portfolio", new { PortfolioID = item.PortfolioID }, new { @style = "color:white;" })
                    </div>
                    <div class="style-card-body card-body">
                    </div>
                    <div class="style-card-footer card-footer text-muted">
                        @item.DateCreated
                    </div>
                </div>
            </div>
        }
    </div>
</div>



