@model IEnumerable<CryptoFolio.Models.Portfolio>
@{
    ViewBag.Title = "Home";
}
<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
        <div id="myText" class="col-6">
            <div class="card text-center">
                <div class="card-header">
                    @item.PortfolioID
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">Your Free Portfolio</p>
                    <button>@Html.ActionLink("View", "ViewMyPortfolio", "Portfolio", new { PortfolioID = item.PortfolioID }, new { @class = "nav-item nav-link" })</button>
                </div>
                <div class="card-footer text-muted">
                    @item.DateCreated
                </div>
            </div>
        </div>
                }            
     </div>
</div>







