body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Custom CSS */

body {
   margin-top:3rem;
}

#vw85{
    width:85vw;
}





#fix-me{
    min-height:85vh;
}

/* Index CSS */

#myText {
    margin-top:2rem;
}

.style-card-header {
    background-color: black;
    color: white;
}

.style-card-body {
    background: url('./portfolio.jpg') center;
    background-size: cover;
    color: white;
    border-top: 1px solid white;
    min-height: 20vh;
    font-size: 1.3rem;
}

.style-card-footer {
    background-color: black;
    color: white;
    border-top: 1px solid white;
}

/*  Homepage */

#main-thing{
    height:75vh;
    text-align:center;    
}

#secondMain-thing{
    margin-top:10%;
}

#the-rest{
    background-color:white;
    color:black;
}